* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background: rgb(221, 252, 221);
  max-width: 1400px;
  margin: 0 auto;
}
.main {
  height: 100vh;
  width: 100vw;
  background: #ebdbdb;
}
